.square {
    width: 80px;
    height: 80px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.dungeon-tile-1 {
    background-image: url("./../img/dungeons-tiles/individual_dungeon_tile.jpg");
}

.dungeon-tile-2 {
    background-image: url("./../img/dungeons-tiles/individual_dungeon_tile_2.jpg");
}

.dungeon-tile-3 {
    background-image: url("./../img/dungeons-tiles/individual_dungeon_tile_3.jpg");
}

.dungeon-wall {
    background-image: url("./../img/dungeons-tiles/individual_dungeon_tile_3.jpg");
}

.forrest {
    /* background-image: ; */
}