/* HEROES */

.fighter {
    background-image: url("./../img/heroes/FighterM14.png");
}

.druid {
    background-image: url("./../img/heroes/DruidF17.png");
}

.rogue {
    background-image: url("./../img/heroes/RogueF18.png");
}

.archer {
    background-image: url("./../img/heroes/RangerF15.png");
}

/* MONSTERS */

.goblin {
    background-image: url("./../img/monsters/Goblin.png");
}

.gnoll {
    background-image: url("./../img/monsters/Gnoll.png");
}

.ogre {
    background-image: url("./../img/monsters/Grimlock.png");
}

/* MAP ELEMENTS */

.chest {
    background-image: url("./../img/map-elements/locked-chest.svg");
}

.trap {
    background-image: url("./../img/map-elements/traps/hole-trap.svg");
}

.pillar {
    background-image: url("./../img/map-elements/pillar.svg");
}

.dungeon-wall {
    background-image: url("./../img/map-elements/stoneWall.svg");
}

.dungeon-door {
    background-image: url("./../img/map-elements/doorway.svg");
}